* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    width: 100%;
    height: 100vh;
}

#main_container {
    background: url('background.jpg') top center / cover no-repeat;
    
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
    margin: auto;
    position: relative;
}

h1 {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.blockChat {
    padding-bottom: 40px;
    border: 1px solid #000;
    border-radius: 8px 0 0 8px;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    overflow-y: scroll;
    position: relative;
}

.chatContent {
    padding: 12px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.left p {
    border-radius: 0 8px 8px 8px;
}

.right p {
    border-radius: 8px 0 8px 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.chatContent p {
    display: inline-block;
    border: 1px solid #000;
    padding: 8px;
}

.messInput {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 16px 4px 0;
    
    display: flex;
    justify-content: space-around;
}

.messInput input {
    background-color: #fff;
    width: 76%;
    height: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #000;
    padding: 0 8px;
}

.messInput button {
    width: 20%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    outline: none;
    border: 1px solid #000;
}